@media only screen and (max-width: 300px) {
    .da-da.maxwidth980.categoryList5OnIndexConTnt {
    margin: 0;
    margin-top: 32px;
}

.da-da.maxwidth980.categoryList5OnIndexConTnt:before {
    box-shadow: none;
}

ul.da-da.categoryList5OnIndexConTntUl li {
    width: 100%;
}

.da-da.wh00.positionrelative {
    height: auto;
    min-height: auto;
    overflow: unset;
}

.da-da.categoryList5OnIndex {
    position: relative;
}
ul.da-da.inputFieldIsonFormUlMain li {
    width: 100%;
    margin-bottom: 22px;
}

ul.da-da.inputFieldIsonFormUlMain {
    display: block;
}

ul.da-da.inputFieldIsonFormUlMain li:first-child {
    width: 100%;
}
.da-da.categoryList5OnIndexConTntImg img {
    margin: 0 auto;
    display: block;
}

.da-da.categoryList5OnIndexConTntTitle {
    text-align: center;
}

.da-da.categoryList5OnIndexConTntdescrptn p {
    text-align: center;
}

.da-da.categoryList5OnIndexConTntdescrptn {
    text-align: center;
}

ul.da-da.categoryList5OnIndexConTntUl li:after {
    border: 0;
}
.col-md-6.FooterTitleMainRightBigger {
    text-align: left;
}
.col-md-4.SignUpGreenTxtdtcr {
    text-align: left;
}
.da-da.FooterMain.maxwidth980 .col-md-2 {
    margin-bottom: 28px;
}
.AppMainHeaderBox-MobileNav {
    display: block !important;
}
.da-da.AppMainHeaderBox-MobileNavIcon {
    width: 70%;
    text-align: right;
}

.da-da.AppMainHeaderBox-MobileNavLogo {
    width: 30%;
}

button.navbar-toggler {
    float: right;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    text-align: right;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    width: fit-content;
    margin-left: auto;
}

.da-da.AppMainHeaderBox-top {
    margin-bottom: 20px;
}
.da-da.AppMainHeaderBox-bottom {
    display: none;
}
.da-da.one-products-homepage {
    width: 99%;
}

.da-da.wh100.displayFlex {}

.da-da.IndexProductsListsSatsrs.maxwidth980 .displayFlex {
    display: block;
}

.da-da.one-products-homepageImage {
    height: 300px;
}
.da-da.AppMainHeaderBox-top-sinout {
    margin-right: 0;
}
 a.da-da.BtnIntheIndexSelACar {
    display: block;
    max-width: 35%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
}
.da-da.ppupStarts-2 {
    width: 92%;
    margin: 0 !important;
    left: 4%;
    top: 0;
    margin-top: 8px !important;
}

.da-da.ppupStarts-2BodyStartsLeft {
    width: 100%;
}

.da-da.ppupStarts-2BodyStartsRight {
    width: 100%;
}

.da-da.wh100.ppupStarts-2BodyStartshl.displayFlex {
    display: block;
}
.da-da.ppupStarts-2BodyStartsField .da-da.wh100.displayFlex {
    display: block;
}

.da-da.w50px.rm10.isonLogiregFieldName {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
}

.da-da.w50px.lm10.isonLogiregFieldFiled {
    margin: 0;
    width: 100%;
}

.da-da.ppupStarts-2BodyStartsField {
    margin-bottom: 14px;
}

.da-da.ppupStarts-2BodyStartsField .da-da.w50px {
    width: 100%;
    margin: 0;
}

a.da-da.loginwithBtn.loginwithBtnIsGlle {
    margin-bottom: 10px;
}
.da-da.ppupStarts-2.widthisloginRegister.widthisloginRegisterislogin {
    top: 16px;
}
.da-da.w50px.rm10.isonLogiregFieldName {
    margin-bottom: 10px;
}
input.da-da.InputFieldAppIndex.isseachInputFieldAppIndex {
    width: 100%;
    margin-bottom: 20px;
}

input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn {
    width: 100%;
}

.da-da.searchBarIndex .da-da.wh100.displayFlex {
    display: block;
}
.da-da.BannerSearchTopIndex {
    margin-top: -55px;
}
.da-da.w50px.rm10 {
    margin-bottom: 10px !important;
}
.da-da.maxwidth980.categoryList5OnIndexConTnt:before {
    content: none !important;
}

.da-da.maxwidth980.categoryList5OnIndexConTnt:after {
    content: none !important;
}
.watermakerd  img{
    width: 100% !important;
}

    
}