@font-face {
  font-family: 'caslon_3roman';
  src: url("../fonts/caslon_3_roman-webfont.woff2") format("woff2"), url("../fonts/caslon_3_roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GalanoGrotesqueAlt';
  src: url("../fonts/GalanoGrotesqueAlt-Bold.woff2") format("woff2"), url("../fonts/GalanoGrotesqueAlt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GalanoGrotesque';
  src: url("../fonts/GalanoGrotesque-Regular.woff2") format("woff2"), url("../fonts/GalanoGrotesque-Regular.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'GalanoGrotesque-medium';
  src: url("../fonts/GalanoGrotesque-Medium.woff2") format("woff2"), url("../fonts/GalanoGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GalanoGrotesque-italic';
  src: url("../fonts/GalanoGrotesque-MediumItalic.woff2") format("woff2"), url("../fonts/GalanoGrotesque-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'GalanoGrotesqueAltDEMO';
  src: url("../fonts/GalanoGrotesqueAltDEMO-Bold.woff2") format("woff2"), url("../fonts/GalanoGrotesqueAltDEMO-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GalanoGrotesqueDEMO';
  src: url("../fonts/GalanoGrotesqueDEMO-Bold.woff2") format("woff2"), url("../fonts/GalanoGrotesqueDEMO-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
  
body {
	margin: 0;
	padding: 0;
    font-family: "GalanoGrotesque-medium";
}
.da-da {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wh100 {
    width: 100%;
    height: 100%;
}
.da-da.AppMainHeaderBox-top-sinout {
    width: fit-content;
    float: right;
}

.displayFlex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl {
    list-style-type: none;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li {
    float: left;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li:first-child {
    margin-right: 10px;
    padding-right: 7px;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li a {
    color: #847d7d;
}
ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li  .IsSignin {
    color: #f48324;
}
ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li  .IsSignin {
    color: #f48324;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li {
    position: relative;
    padding-left: 7px;
}

ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li:first-child:after {
    content: "|";
    position: absolute;
    top: 0;
    height: 100%;
    right: -8px;
    color: #d8d5d5;
}
ul.da-da.wh100.mainMenuBarsApp_navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
}

ul.da-da.wh100.mainMenuBarsApp_navigation li {
    width: calc(100%/3);
    text-align: center;
}

.da-da.AppMainHeaderBox-bottom {
    margin-top: 0;
    margin-bottom: 0;
}
ul.da-da.wh100.mainMenuBarsApp_navigation li a {
    color: #1e1e1e;
}
ul.da-da.wh100.mainMenuBarsApp_navigation li {
    position: relative;
}

ul.da-da.wh100.mainMenuBarsApp_navigation a {
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
    left: 0;
}
img.da-da.mainLogo {
    max-width: 100%;
}
.da-da.AppMainHeaderBox-bottom {
    margin-bottom: 22px;
}
.da-da.SearchConfigurationIndex {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
}

.da-da.BannerSearchTopIndexRel {
    position: relative;
}
.da-da.SearchConfigurationIndex {
    height: 100%;
}

span.da-da.wh100.SearchConfigurationIndexSpanvhmd {
    display: block;
    height: 100%;
}
.h100 {
    height: 100% !important;
}
.da-da.wh100.SearchConfigurationIndexSpanvhmd.maxwidth980 {
    margin: 0 auto;
}
.maxwidth780 {
    max-width: 780px;
}
.maxwidth980 {
    max-width: 950px;
    margin: 0 auto;
}
.da-da.wh100.SearchConfigurationIndexSpanvhmd.maxwidth780 {
    margin: 0 auto;
}
.da-da.DefaultTitleOnindexbanner h3 {
    font-size: 20px;
    font-weight: 400;
}

.da-da.wh100.SearchConfigurationIndexSpanvhmd.maxwidth780 {
    padding-top: 80px;
}
input.da-da.InputFieldAppIndex.isseachInputFieldAppIndex {
    width: 85%;
    background: #fff;
    padding: 7px 15px;
}

input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn {
    width: 15%;
    padding: 7px 15px;
    -webkit-appearance: none;
    background: #f48324;
    border: 0;
    color: #fff;
}

.da-da.DefaultTitleOnindexbanner {
    margin-bottom: 12px;
}
.da-da.AppMainHeaderBox-top {
    margin-top: 25px;
}
.da-da.searchBarIndex {
    margin-bottom: 25px;
}

.da-da.DefaultTitleOnindexbanner.DefaultTitleOnindexbanner2nd h3 {
    font-size: 17px;
}
ul.da-da.inputFieldIsonFormUlMain {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

ul.da-da.inputFieldIsonFormUlMain li {
    margin-right: 17px;
    width: 190px;
}

select.da-da.wh100.inputFieldIsonForm {
    padding: 7px 15px;
    border: 0;
    -webkit-appearance: none;
    background-color: #fff;
    color: #7f7575;
}

ul.da-da.inputFieldIsonFormUlMain li:first-child {
    width: 100px;
}
select.da-da.wh100.inputFieldIsonForm {
    outline: none;
    cursor: pointer;
}
select.da-da.wh100.inputFieldIsonForm {
    background-image: url(../assets/arrows/down-arrow.png);
    background-position: 93% 56%;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-right: 35px;
}
.da-da.searchformFilerIndex {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 40px;
}
a.da-da.BtnIntheIndexSelACar {
    background: #f48324;
    color: #fff;
    padding: 6px 13px;
    font-size: 17px;
    display: inline-block;
    margin-left: 14px;
}

.da-da.searchformFilerIndex {
    margin-bottom: 25px;
}
a.carousel-control-prev {
    display: none;
}

a.carousel-control-next {
    display: none;
}
.carousel-item.active {
    max-height: 550px;
}
.positionrelative {
    position: relative;
}
.da-da.maxwidth980.categoryList5OnIndexConTnt {
    background: #fff;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    min-height: 225px;
    position: relative;
}

.da-da.categoryList5OnIndex {
    position: absolute;
    width: 100%;
    margin-bottom: 80px;
}

.da-da.maxwidth980.categoryList5OnIndexConTnt:before {
    content: "";
    position: absolute;
    box-shadow: 0px -19px 18px 4px #00000042;
    left: 0;
    top: 0;
    width: 100%;
    height: 68%;
}
ul.da-da.categoryList5OnIndexConTntUl {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}

ul.da-da.categoryList5OnIndexConTntUl li {
    width: calc(100%/5);
    float: left;
}

.da-da.categoryList5OnIndexConTntImg img {
    max-width: 100%;
}
.paddingadjustedforCagry {
    padding: 18px;
}

ul.da-da.categoryList5OnIndexConTntUl li {
    position: relative;
}

ul.da-da.categoryList5OnIndexConTntUl li:after {
    content: "";
    position: absolute;
    right: 0;
    border-right: 1px solid #e3e6ec;
    height: 58%;
    top: 19%;
}

ul.da-da.categoryList5OnIndexConTntUl li:last-child:after {
    border: 0;
}
.da-da.categoryList5OnIndexConTntTitle h4 {
    color: #f48324;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.da-da.categoryList5OnIndexConTntTitle {
    margin-bottom: 20px;
}

.da-da.categoryList5OnIndexConTntdescrptn p {
    padding: 0;
    margin: 0;
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
}

.da-da.categoryList5OnIndexConTntdescrptn {
    margin-bottom: 12px;
}

.da-da.categoryList5OnIndexConTntdescrptn a {
    background: #49c1ec;
    color: #fff;
    padding: 9px 13px;
    line-height: 9px;
    display: inline-block;
    border-radius: 3px;
}
.da-da.categoryList5OnIndexConTntdescrptn a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.8px;
}
.da-da.wh00.positionrelative {
    min-height: 250px;
}
.da-da.wh00.positionrelative {
    min-height: 250px;
}


h3.da-da.DifFontHeaderH3 {
    font-family: "caslon_3roman";
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #0f0f0f;
}

p.da-da.DifFontHeaderP {
    color: #0f0f0f;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #484544;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
:after, :before {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}
.da-da.DifFontHeader {
    margin-top: 30px;
    margin-bottom: 50px;
}

a.da-da.DifFontHeaderBtn {
    display: inline-block;
    background: #7ec153;
    height: auto !important;
    font-size: 16px;
    padding: 13px 16px;
    line-height: 12px;
    color: #fff;
    padding-top: 9px;
    text-transform: uppercase;
}
.da-da.one-products-homepageImage {
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
    background-image: url("../assets/index-products-ico/sample.jpg");
}

.da-da.one-products-homepage {
    width: calc(100%/6);
}

.da-da.IndexProductsListsSatsrs.maxwidth980 {
    border-top: 2px solid #f48324;
}

.da-da.one-products-homepageinftag.displayFlex {
    margin-bottom: 0;
    font-family: "GalanoGrotesque-medium";
    font-size: 12px;
    color: #0f0f0f;
}

.da-da.one-products-homepageinftag.displayFlex span {
    vertical-align: -7px;
}
.da-da.one-products-homepage {
    padding: 10px;
    transition: all .4s ease-in-out;
}

.da-da.one-products-homepageinftag {
    font-family: "GalanoGrotesque-medium";
    font-size: 14px;
    color: #0f0f0f;
    margin-bottom: 8px;
}

.da-da.one-products-homepageinftag span {
    margin-right: 8px;
}

.da-da.one-products-homepageinftag.Isprice334 {
    margin-top: 20px;
    color: #f48324;
}

.da-da.one-products-homepage:hover {
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.da-da.IndexProductsListsSatsrs.maxwidth980 {
    margin-bottom: 50px;
}

.da-da.IndexProductsListsSatsrs.maxwidth980 {
    overflow: visible;
}
.da-da.one-products-homepage {
    float: left;
}
.overflowa {
    overflow: auto;
}
.brandNewSign:after {
    content: "Brand New";
    font-family: "Helvetica";
    font-size: 8px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    background: #7ec153;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 2;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    z-index: 90;
    line-height: 11px;
    padding-top: 10px;
}

.da-da.one-products-homepage.brandNewSign {
    position: relative;
    overflow: visible;
}
.da-da.one-products-homepage {
    background: #f1f1f1;
}
.da-da.one-products-homepage {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 7px;
}
.da-da.SignUpGreen {
    background: #cacaca;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

h3 {}

.da-da.SignUpGreenRightSide h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.da-da.SignUpGreen {
    color: #fff;
}

.da-da.SignUpGreenLeftSide {
    margin-right: 18px;
}

.da-da.SignUpGreenRightSide p {
    font-size: 14px;
}
.cta {
    background: #49c1ec;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 15px 7px;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.cta.btn-green {
    background: #f28120;
    border: 1px solid #ffffff;
    font-size: 12px;
    padding: 3px 15px 7px;
}
a.cta.btn-green {
    margin-left: auto;
    display: inline-block;
    margin-right: auto;
    margin-top: 15px;
}
.col-md-4.SignUpGreenTxtdtcr {
    text-align: right;
}

a.cta.btn-green:hover {
    background: #fff;
    text-decoration: none;
    color: #000;
}

a.cta.btn-green {
    padding: 9px 30px;
}
.da-da.FooterTitleMain h5 {
    font-size: 17px;
}

.FooterOneLinkBox a {
    color: #000;
    font-size: 13px;
}

.FooterOneLinkBox {
    margin-bottom: 6px;
}

.da-da.FooterTitleMain {
    margin-bottom: 19px;
}

.da-da.FooterMain.maxwidth980 {
    padding-bottom: 40px;
    margin-top: 70px;
    border-top: 2px solid #f48324;
    padding-top: 20px;
    letter-spacing: 0.4px;
}
.col-md-6.FooterTitleMainRightBigger {
    text-align: right;
}
.col-md-6.FooterTitleMainRightBigger .FooterOneLinkBox a {
    color: #a59e9e;
}
.da-da.FooterTitleMain {
    min-height: 20px;
}
.AppMainHeaderBox-MobileNav {
    display: none !important;
}
.da-da.AppMainHeaderBox-top {
    margin-bottom: 20px;
}

button.navbar-toggler {
    margin-left: auto;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: transparent !important;
}
.da-da.AppMainHeaderBox-MobileNavIcon {
    padding-top: 45px;
}
.da-da.AppMainHeaderBox-bottom {
    display: block;
}
.da-da.AppMainHeaderBox-MobileNav {
    display: none;
}
.da-da.wh100.SearchConfigurationIndexBg {
    
    padding-bottom: 45px;
}
select.da-da.wh100.inputFieldIsonForm {
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0.4px;
}

input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn {
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0.4px;
}

input.da-da.InputFieldAppIndex.isseachInputFieldAppIndex {
    font-family: arial;
    font-size: 15px;
    letter-spacing: 0.4px;
}
ul.da-da.wh100.AppMainHeaderBox-top-sinoutUl li a {
    text-transform: uppercase;
}
.da-da.AppMainHeaderBox-top-sinout {
    margin-right: 30px;
}
.da-da.AppMainHeaderBox-bottom {
    margin-top: -30px;
}
select.da-da.wh100.inputFieldIsonForm {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
}
a.da-da.BtnIntheIndexSelACar {
    padding-top: 3px;
    font-size: 15px;
    margin-left: 7px;
}
a.da-da.BtnIntheIndexSelACar {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.da-da.categoryList5OnIndexConTntImg {
    margin-bottom: 15px;
}
input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn.btnIsRent-one {
    width: 50%;
}
.w100 {
    width: 100% !important;
}
input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn.btnIsRent-one {
    padding: 9px 15px;
    height: auto;
}

input.da-da.InputFieldAppIndex.isseachInputFieldAppIndex.w100.datePicker {
    background-image: url("../assets/calendar/calendar.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 95% 50%;
    padding-right: 30px;
}

input.da-da.InputFieldAppIndex.isseachInputFieldAppIndex.w100.datePicker {
    border: 0;
    padding: 9px 15px;
}
.da-da.wh100.SearchConfigurationIndexSpanvhmdDv.SearchisinRentDefault {
    padding-top: 55px;
}
div#ui-datepicker-div {
    border: 0 !important;
    padding: 10px !important;
    box-shadow: 1px 9px 19px 3px hsla(0, 0%, 0%, 0.21) !important;
    border-radius: 0 !important !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: transparent !important;
    border: 0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0 !important;
    text-align: center !important;
    background: transparent !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 0;
    background: transparent !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
}
.da-da.AppPopupDefault.wh100 {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.37);
    padding: 0;
    margin-bottom: 19%;
}
.da-da.ppupStarts-2 {
    /* width: 60%; */
    /* background: #fff; */
    /* border-radius: 3px; */
    /* min-height: 450px; */
    /* top: 50%; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-left: -30%; */
    width: 850px;
    height: auto;
    background: #fff;
    margin: 0 auto;
    top: 165px;
    position: absolute;
    left: 50%;
    margin-left: -425px;
    /* margin-top: -200px; */
}
.da-da.AppPopupDefault.wh100 {
    z-index: 9999;
}
@keyframes anim-open {
	0% { opacity: 0; transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
.da-da.ppupStarts-2 {
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 58px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 58px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 58px 3px rgba(0, 0, 0, 0.45);
    border-radius: 3px;
}

.da-da.ppupStarts-2 {
    animation-name: anim-open;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.da-da.ppupStarts-2BodyStartsLeft {
    width: 60%;
}

.da-da.ppupStarts-2BodyStartsRight {
    width: 40%;
    background: #ebebeb;
}

.da-da.ppupStarts-2BodyStarts {
    height: 100%;
    min-height: 450px;
}

.da-da.wh100.ppupStarts-2BodyStartshl.displayFlex {
    min-height: 450px;
}
.da-da.ppupStarts-2 {
    margin-bottom: 55px;
}
.da-da.ppupStarts-2BodyStartsLeft {
    padding: 40px;
}

.da-da.ppupStarts-2BodyStartsRight {
    padding: 40px;
}
.da-da.ppupStarts-2BodyStartsTitleMain h3 {
    font-size: 23px;
}
.da-da.ppupStarts-2BodyStartsTitleMain {
    padding-bottom: 20px;
    border-bottom: 2px solid #f48324;
}
.da-da.ppupStarts-2BodyStartsTitleMain {
    margin-bottom: 20px;
}

.da-da.ppupStarts-2BodyStartsDescription p {
    font-size: 14px;
}
select.da-da.wh100.inputFieldIsonForm.inputFieldIsonFormInPup {
    border: 1px solid #d0caca;
    padding: 10px 12px;
    font-family: inherit;
}

.da-da.w50px {
    width: calc(50%);
}
.lm10 {
    margin-left: 10px;
}
.rm10 {
    margin-right: 10px;
}
.da-da.ppupStarts-2BodyStartsField {
    margin-bottom: 20px;
}
input.da-da.wh100.inputFieldIsonForm.inputFieldIsonFormInPup {
    border: 1px solid #d0caca;
    padding: 10px 12px;
    font-family: inherit;
}
.da-da.ppupStarts-2BodyStartsDescription {
    min-height: 120px;
}
input.da-da.wh100.inputFieldIsonForm.inputFieldIsonFormInPup {
    padding: 9px 12px;
    margin-top: -1px;
}
input.uiIsApplinfileActu {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
}

span.uiIsApplinfileSpan {
    display: inline-block;
    background: #49c1ec;
    padding: 8px 12px;
    color: #fff;
    padding-top: 5px;
    cursor: pointer;
    position: absolute;
}
input.uiIsApplinfileActu {
    width: 100%;
}

span.classIsuldText {
    color: #988f8f;
    font-weight: normal;
    font-size: 14px;
    vertical-align: 12px;
    display: block;
    line-height: 34px;
    font-style: italic;
}
input.da-da.InputFieldAppIndexBtn.IssearchInputFieldAppIndexBtn.w100.BtnIsSubmit {
    padding: 12px 9px;
    font-size: 18px;
}
.da-da.ppupStarts-2BodyStartsDescription.desctinSmalPopfrmBtm p {
    color: #9c9797;
}
span.closepupI1 {
    background: #fff;
    position: absolute;
    right: -20px;
    padding: 18px;
    padding-top: 4px;
    font-size: 19px;
    border-radius: 30px;
    padding-bottom: 15px;
    top: -20px;
    box-shadow: 1px 1px 6px 1px #0000003d;
    cursor: pointer;
}
.da-da.AppPopupDefault.wh100 {
    display: none;
}
.OpenMyMNodal_pupAutoasure {
    display: block !important;
}

.da-da.wh100.SearchConfigurationIndexSpanvhmd.maxwidth780 {
    background: #000000ad;
    height: auto;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.product-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-image: url(../images/product/watermark.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.watermakerd {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-image: url("../assets/index-products-ico/watermark.png");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: left bottom; 
    
}


