.form{

    height: 50%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    margin-top: 10px;
    box-shadow: 0px 3px 30px 30px #f9fbfc;
    border: 1px solid #e9e9e9;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact100-form-title{
    text-align: center;
    font-size: 18px;
    font-family: Arial;
}

.address-contact{

    font-size: 14px;
    font-family: Arial;
}
.form-contact{
    align-content: center;
}

.wrap-input100{
    border: none;
    margin-top: 30px;
    float: left;
    background: 0;
    box-shadow: 1px 1px 1px #daddde;
    height: 40px;
    background-color: white;
}

