.import-lease .results-container .column.results-column .more-details .tab-content #details .detail form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .import-lease .results-container .column.results-column .more-details .tab-content #details .detail form input {
    margin-top: 5px;
    margin-right: 8px; }
    .import-lease .results-container .column.results-column .more-details .tab-content #details .detail form input:last-of-type {
      margin-left: 15px; }
  .import-lease .results-container .column.results-column .more-details .tab-content #details .detail form label {
    margin: 0; }

.import-lease .cta.enquire {
  padding: 2px 20px 7px; }

.import-lease .add-to-compare {
  margin-top: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (max-width: 620px) and (min-width: 550px) {
    .import-lease .add-to-compare {
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .import-lease .add-to-compare:hover {
    border: none; }
    .import-lease .add-to-compare:hover .plus-icon {
      background: #7ec153; }
      .import-lease .add-to-compare:hover .plus-icon .fa {
        color: #fff; }
  .import-lease .add-to-compare .plus-icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid #7ec153;
    border-radius: 50%;
    transition: all .3s ease-in-out; }
  .import-lease .add-to-compare .fa {
    color: #7ec153;
    margin-top: 1px;
    transition: all .3s ease-in-out; }
  .import-lease .add-to-compare span.text {
    display: inline-block;
    color: #676767;
    margin-left: 5px;
    margin-bottom: 5px;
    text-transform: uppercase; }

.import-lease .lease-calculator-wrap {
  margin: 50px 0;
  background: #f8f8f8;
  padding: 40px;
  border-radius: 5px; }
  .import-lease .lease-calculator-wrap.vehicle-import-lease-calculator {
    display: none; }
  .import-lease .lease-calculator-wrap .monthly-instalment {
    font-size: 18px;
    margin: 60px 0 0 0; }
  .import-lease .lease-calculator-wrap .bars {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .import-lease .lease-calculator-wrap .bars h4 {
      font-size: 18px; }
    .import-lease .lease-calculator-wrap .bars .group {
      position: relative;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .import-lease .lease-calculator-wrap .bars .group:first-child {
        margin-right: 20px; }
      .import-lease .lease-calculator-wrap .bars .group .bar {
        margin: 40px 0 20px 0; }
      .import-lease .lease-calculator-wrap .bars .group .min-value,
      .import-lease .lease-calculator-wrap .bars .group .selected-value,
      .import-lease .lease-calculator-wrap .bars .group .max-value {
        position: absolute;
        top: 100%;
        text-transform: capitalize; }
      .import-lease .lease-calculator-wrap .bars .group .min-value {
        left: 0; }
      .import-lease .lease-calculator-wrap .bars .group .selected-value {
        left: 0;
        right: 0;
        text-align: center; }
      .import-lease .lease-calculator-wrap .bars .group .max-value {
        right: 0; }

section.comparison .comparison-wrapper {
  max-width: 1170px;
  margin: auto;
  padding-top: 30px;
  position: relative; }
  section.comparison .comparison-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #49c1ec 8%, #49c1ec 23%, #fff 23%, #fff 25%, #f58e37 25%, #f58e37 78%, #fff 78%, #fff 80%, #f58e37 80%, #7ec153 80%); }
  section.comparison .comparison-wrapper h3 {
    margin: 20px 0 30px;
    font-size: 20px; }
  section.comparison .comparison-wrapper .tablesaw-bar .tablesaw-advance {
    display: none !important; }
    @media (max-width: 1200px) {
      section.comparison .comparison-wrapper .tablesaw-bar .tablesaw-advance {
        display: block !important; } }
  section.comparison .comparison-wrapper .vehicle-compare {
    width: 100%;
    font-family: "GalanoGrotesque-medium"; }
    section.comparison .comparison-wrapper .vehicle-compare th img,
    section.comparison .comparison-wrapper .vehicle-compare td img {
      max-width: 150px; }
    section.comparison .comparison-wrapper .vehicle-compare th .add-vehicle,
    section.comparison .comparison-wrapper .vehicle-compare td .add-vehicle {
      transition: all .3s ease-in-out; }
      section.comparison .comparison-wrapper .vehicle-compare th .add-vehicle:hover,
      section.comparison .comparison-wrapper .vehicle-compare td .add-vehicle:hover {
        -webkit-transform: scale(0.9);
                transform: scale(0.9); }
    section.comparison .comparison-wrapper .vehicle-compare th {
      text-align: center;
      font-weight: bold;
      padding: 3px 10px 5px;
      background: #f8f8f8; }
      section.comparison .comparison-wrapper .vehicle-compare th.info-head {
        width: 180px; }
    section.comparison .comparison-wrapper .vehicle-compare tbody {
      margin: 20px 0; }
      section.comparison .comparison-wrapper .vehicle-compare tbody tr {
        border: 1px solid #f8f8f8; }
        section.comparison .comparison-wrapper .vehicle-compare tbody tr td:first-child {
          text-align: left; }
        section.comparison .comparison-wrapper .vehicle-compare tbody tr:nth-child(even) {
          background: #f8f8f8; }
        section.comparison .comparison-wrapper .vehicle-compare tbody tr:last-of-type {
          background: none;
          border: none; }
          section.comparison .comparison-wrapper .vehicle-compare tbody tr:last-of-type td {
            padding-top: 20px; }
            section.comparison .comparison-wrapper .vehicle-compare tbody tr:last-of-type td.tablesaw-swipe-cellpersist {
              border-right: none; }
      section.comparison .comparison-wrapper .vehicle-compare tbody td {
        padding: 3px 10px 5px;
        text-align: center; }
      section.comparison .comparison-wrapper .vehicle-compare tbody .cta {
        padding-left: 40px;
        padding-right: 40px; }
  section.comparison .comparison-wrapper .button-group {
    margin: 30px 0 0 0; }
    section.comparison .comparison-wrapper .button-group .cta {
      font-size: 14px; }
      section.comparison .comparison-wrapper .button-group .cta:hover {
        border-color: #7ec153;
        color: #7ec153; }

section.banner {
  background-size: cover;
  background-position: center;
  height: 260px; }

section.vehicle-import .results-container .column {
  border-top: none !important; }
  section.vehicle-import .results-container .column.filter-column .refine-by {
    margin-bottom: 60px; }
  section.vehicle-import .results-container .column.results-column .results-count {
    margin-bottom: 50px; }

@media (max-width: 992px) {
  section.vehicle-import .results-container .column.filter-column {
    border-top: 3px solid #49c1ec !important;
    top: 200px; } }

.compare-wrapper {
  text-align: center; }
  .compare-wrapper .compare-vehicles {
    font-size: 13px;
    border: 1px solid #7ec153;
    border-bottom: none;
    padding: 3px 0 8px 0; }
  .compare-wrapper .cta {
    display: block;
    font-family: "GalanoGrotesque-medium";
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #7ec153; }
    .compare-wrapper .cta:hover {
      color: #7ec153;
      border-color: #7ec153; }
  .compare-wrapper.disabled .compare-vehicles {
    border-color: #b7b7b7; }
  .compare-wrapper.disabled .cta {
    pointer-events: none;
    background: #b7b7b7;
    color: #fff;
    border-color: #b7b7b7; }

section.search-results .results-container .column,
section.vehicle-import .results-container .column {
  background: #fff; }
  section.search-results .results-container .column.test-column,
  section.vehicle-import .results-container .column.test-column {
    border-top: 3px solid #49c1ec; }
  section.search-results .results-container .column.filter-column.fixed,
  section.vehicle-import .results-container .column.filter-column.fixed {
    position: fixed;
    top: 0;
    z-index: 1; }
  section.search-results .results-container .column.results-column,
  section.vehicle-import .results-container .column.results-column {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    section.search-results .results-container .column.results-column.fixed,
    section.vehicle-import .results-container .column.results-column.fixed {
      margin-left: 220px; }
    section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group,
    section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare,
      section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding: 0;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        @media (max-width: 768px) {
          section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare,
          section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare {
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin-left: 10px; } }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover {
          border: none; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover .plus-icon,
          section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover .plus-icon {
            background: #7ec153; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover .plus-icon .fa,
            section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare:hover .plus-icon .fa {
              color: #fff; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare .plus-icon,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare .plus-icon {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          height: 20px;
          width: 20px;
          border: 1px solid #7ec153;
          border-radius: 50%;
          transition: all .3s ease-in-out; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare .fa,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare .fa {
          color: #7ec153;
          margin-right: 1px;
          margin-top: 1px;
          transition: all .3s ease-in-out; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare span.text,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare span.text {
          display: inline-block;
          color: #676767;
          margin-left: 5px;
          margin-bottom: 5px;
          text-transform: uppercase; }
    @media (max-width: 992px) {
      section.search-results .results-container .column.results-column,
      section.vehicle-import .results-container .column.results-column {
        margin-left: 0; }
        section.search-results .results-container .column.results-column .right-side .cta-group a.add-to-compare .plus-icon .fa,
        section.vehicle-import .results-container .column.results-column .right-side .cta-group a.add-to-compare .plus-icon .fa {
          margin-right: 0px; } }
    @media (max-width: 550px) {
      section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group,
      section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.enquire, section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.add-to-compare,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group a.enquire,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group a.add-to-compare {
          margin-left: 0px; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.enquire .plus-icon .fa, section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.add-to-compare .plus-icon .fa,
          section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group a.enquire .plus-icon .fa,
          section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group a.add-to-compare .plus-icon .fa {
            margin-right: 1px; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .cta,
        section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .cta {
          width: 100%;
          margin-bottom: 10px; } }

body.mac-os section.search-results .results-container .column.filter-column form select,
body.mac-os section.vehicle-import .results-container .column.filter-column form select {
  background-color: #fff; }

body.mac-os section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare span.text,
body.mac-os section.vehicle-import .results-container .column.results-column .results-wrap .right-side .cta-group .add-to-compare span.text {
  margin-bottom: -3px; }

section.operating-lease .search-container {
  background-image: url("../images/banner/operate-lease-banner.jpg"); }
  section.operating-lease .search-container .group {
    margin-bottom: 30px; }
  section.operating-lease .search-container .bars {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: #fff; }
    section.operating-lease .search-container .bars h4 {
      font-size: 18px; }
    section.operating-lease .search-container .bars .inner-group {
      position: relative;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-right: 20px; }
      section.operating-lease .search-container .bars .inner-group:last-of-type {
        margin-right: 0; }
      section.operating-lease .search-container .bars .inner-group .bar {
        margin: 20px 0; }
      section.operating-lease .search-container .bars .inner-group .min-value,
      section.operating-lease .search-container .bars .inner-group .selected-value,
      section.operating-lease .search-container .bars .inner-group .max-value {
        position: absolute;
        top: 100%;
        text-transform: capitalize; }
      section.operating-lease .search-container .bars .inner-group .min-value {
        left: 0; }
      section.operating-lease .search-container .bars .inner-group .selected-value {
        left: 0;
        right: 0;
        text-align: center; }
      section.operating-lease .search-container .bars .inner-group .max-value {
        right: 0; }

@media (max-width: 992px) and (min-width: 768px) {
  section.operating-lease .search-container .bars h4 {
    font-size: 14px; }
  section.operating-lease .search-container .bars .inner-group .min-value,
  section.operating-lease .search-container .bars .inner-group .selected-value,
  section.operating-lease .search-container .bars .inner-group .max-value {
    font-size: 12px; } }

@media (max-width: 768px) {
  section.operating-lease .search-container {
    height: 700px; }
    section.operating-lease .search-container .group {
      margin-bottom: 20px; }
    section.operating-lease .search-container .bars {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.operating-lease .search-container .bars .inner-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px; }
        section.operating-lease .search-container .bars .inner-group:last-of-type {
          margin-bottom: 0; } }

section.operate-lease-search-results .results-container .column.ads-column {
  border-top: none; }
  section.operate-lease-search-results .results-container .column.ads-column.fixed {
    margin-left: 220px; }

section.operate-lease-search-results .results-container .column.filter-column {
  border-top: none;
  padding: 20px 10px 10px;
  margin-top: 10px;
  height: 400px;
  overflow-y: scroll; }
  section.operate-lease-search-results .results-container .column.filter-column::-webkit-scrollbar {
    width: 4px; }
  section.operate-lease-search-results .results-container .column.filter-column::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px; }
  section.operate-lease-search-results .results-container .column.filter-column::-webkit-scrollbar-thumb {
    background-color: #7ec153;
    outline: 1px solid slategrey;
    border-radius: 4px; }
  section.operate-lease-search-results .results-container .column.filter-column .refine-by {
    margin-bottom: 60px; }
  section.operate-lease-search-results .results-container .column.filter-column form select {
    margin-right: 0; }

section.operate-lease-search-results .results-container .column .bars {
  width: 100%;
  color: #434343; }
  section.operate-lease-search-results .results-container .column .bars h4 {
    font-family: "GalanoGrotesque-medium";
    font-size: 14px;
    font-weight: 500; }
  section.operate-lease-search-results .results-container .column .bars .inner-group {
    position: relative;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 60px; }
    section.operate-lease-search-results .results-container .column .bars .inner-group:last-of-type {
      margin-right: 0; }
    section.operate-lease-search-results .results-container .column .bars .inner-group .bar {
      margin: 20px 0; }
    section.operate-lease-search-results .results-container .column .bars .inner-group .min-value,
    section.operate-lease-search-results .results-container .column .bars .inner-group .selected-value,
    section.operate-lease-search-results .results-container .column .bars .inner-group .max-value {
      position: absolute;
      top: 120%;
      text-transform: capitalize; }
    section.operate-lease-search-results .results-container .column .bars .inner-group .min-value {
      left: 0; }
    section.operate-lease-search-results .results-container .column .bars .inner-group .selected-value {
      left: 0;
      right: 0;
      text-align: center; }
    section.operate-lease-search-results .results-container .column .bars .inner-group .max-value {
      right: 0; }

section.operate-lease-search-results .results-container .column.results-column {
  border-top: none;
  margin-right: 0; }
  section.operate-lease-search-results .results-container .column.results-column .results-count {
    margin-bottom: 50px; }
  section.operate-lease-search-results .results-container .column.results-column .compare-wrapper {
    margin-bottom: 30px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    will-change: auto; }
    @media (max-width: 992px) {
      section.operate-lease-search-results .results-container .column.results-column .compare-wrapper {
        max-width: 200px; } }
  section.operate-lease-search-results .results-container .column.results-column .results-wrap .result .right-side .other-amount-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    section.operate-lease-search-results .results-container .column.results-column .results-wrap .result .right-side .other-amount-details p {
      margin: 0 10px 0 0;
      font-size: 12px;
      color: #737373; }

@media (max-width: 992px) {
  section.operate-lease-search-results .results-container .column.filter-column {
    padding: 0;
    top: 130px;
    overflow: visible; }
    section.operate-lease-search-results .results-container .column.filter-column .inner-filter-column {
      height: 400px;
      overflow-y: scroll;
      padding: 30px 10px; }
      section.operate-lease-search-results .results-container .column.filter-column .inner-filter-column::-webkit-scrollbar {
        width: 4px; }
      section.operate-lease-search-results .results-container .column.filter-column .inner-filter-column::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 4px; }
      section.operate-lease-search-results .results-container .column.filter-column .inner-filter-column::-webkit-scrollbar-thumb {
        background-color: #7ec153;
        outline: 1px solid slategrey;
        border-radius: 4px; }
    section.operate-lease-search-results .results-container .column.filter-column .refine-by {
      top: 30px; } }

@media (max-width: 480px) {
  section.operate-lease-search-results .results-container .column.results-column .compare-wrapper {
    margin: auto auto 30px; }
  section.operate-lease-search-results .results-container .column.results-column .results-wrap .result .right-side {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    section.operate-lease-search-results .results-container .column.results-column .results-wrap .result .right-side .cta-group {
      margin-top: 30px;
      min-width: initial;
      width: 100%; }
      section.operate-lease-search-results .results-container .column.results-column .results-wrap .result .right-side .cta-group p:last-of-type {
        margin-bottom: 30px; } }

section.services-form form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 768px;
  margin: auto;
  width: 100%;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 5px; }
  section.services-form form p {
    color: #fff;
    margin: 20px 0 10px 0; }
  section.services-form form .group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px; }
    section.services-form form .group label {
      min-width: 250px;
      font-family: "GalanoGrotesque-medium";
      font-weight: 500; }
    section.services-form form .group input[type="text"],
    section.services-form form .group input[type="email"],
    section.services-form form .group textarea {
      width: 100%; }
    section.services-form form .group input,
    section.services-form form .group textarea {
      border: none;
      outline: none;
      padding: 5px 10px 8px 15px; }
    section.services-form form .group input,
    section.services-form form .group select,
    section.services-form form .group button,
    section.services-form form .group textarea {
      color: #231f20;
      border: none;
      outline: none;
      box-sizing: border-box; }
    section.services-form form .group select {
      width: 250px;
      padding: 5px 10px 8px 10px;
      appearance: none;
      -webkit-appearance: none;
      margin-right: 20px;
      border-radius: 0;
      background-image: url("../images/misc/select-arrow.png");
      background-color: #fff;
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 93% center; }
    section.services-form form .group textarea {
      padding-bottom: 20%;
      resize: none; }
    section.services-form form .group button[type="submit"] {
      margin-left: 250px;
      background-color: #f48324;
      color: #fff;
      text-transform: uppercase;
      border: none;
      outline: none;
      padding: 3px 15px 7px; }

@media (max-width: 580px) {
  section.services-form form .group {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section.services-form form .group button[type="submit"] {
      margin-left: 0; } }
