.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

.stand-alone {
  text-transform: none !important; }

.uppercase {
  text-transform: uppercase !important; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #333333;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "GalanoGrotesque";
  color: #191919;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

.popup, .popup .popup-container .popup-close, header nav .mobile-nav .mobile-toggle-button, section.featured-product .featured-container .product.brand-new::after {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

header nav .mobile-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cta {
  background: #49c1ec;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px 15px 7px;
  font-weight: 500;
  transition: all .4s ease-in-out; }
  .cta:hover, .cta:focus {
    color: #fff;
    background: #22b0e2; }
  .cta.btn-green {
    background: #7ec153;
    border: 1px solid #ffffff;
    font-size: 12px;
    padding: 3px 15px 7px; }
    .cta.btn-green:hover, .cta.btn-green:focus {
      background: rgba(255, 255, 255, 0.2); }
  .cta.enquire {
    background: transparent;
    border: 1px solid #f48324;
    color: #f48324;
    padding: 2px 15px 7px; }
    .cta.enquire:hover {
      background: #f69e55;
      color: #fff;
      border-color: transparent; }

@media (max-width: 992px) {
  .page-content {
    margin-top: 108px; } }

.inner-container {
  max-width: 900px;
  margin: auto; }

.back-to {
  color: #49c1ec;
  transition: all .4s ease-in-out; }
  .back-to:hover {
    color: #16a1d3; }

.note {
  color: #636363;
  font-size: 12px; }

label.error {
  color: #ff0000; }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none; }
  .popup .popup-container {
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 740px;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2); }
    .popup .popup-container .popup-title-wrap {
      padding: 0 40px;
      margin-bottom: 20px; }
      .popup .popup-container .popup-title-wrap h3 {
        border-bottom: 2px solid #f48324;
        padding-bottom: 20px; }
    .popup .popup-container form,
    .popup .popup-container .form-groups {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .popup .popup-container form .input-group,
      .popup .popup-container form .radio-group,
      .popup .popup-container .form-groups .input-group,
      .popup .popup-container .form-groups .radio-group {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 10px; }
        .popup .popup-container form .input-group label,
        .popup .popup-container form .radio-group label,
        .popup .popup-container .form-groups .input-group label,
        .popup .popup-container .form-groups .radio-group label {
          font-family: "GalanoGrotesque-medium";
          font-weight: 400;
          font-size: 16px;
          min-width: 100px;
          text-transform: capitalize; }
      .popup .popup-container form .input-group.multiple-input .firstname,
      .popup .popup-container .form-groups .input-group.multiple-input .firstname {
        margin-right: 10px; }
      .popup .popup-container form .input-group.multiple-input .inner-multiple-input,
      .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .popup .popup-container form .input-group.multiple-input .inner-multiple-input input,
        .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input input {
          width: 50%; }
          .popup .popup-container form .input-group.multiple-input .inner-multiple-input input:first-child,
          .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input input:first-child {
            width: 47%; }
        @media (max-width: 500px) {
          .popup .popup-container form .input-group.multiple-input .inner-multiple-input,
          .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%; }
            .popup .popup-container form .input-group.multiple-input .inner-multiple-input input,
            .popup .popup-container form .input-group.multiple-input .inner-multiple-input input:first-child,
            .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input input,
            .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input input:first-child {
              width: 100%; }
            .popup .popup-container form .input-group.multiple-input .inner-multiple-input input:first-child,
            .popup .popup-container .form-groups .input-group.multiple-input .inner-multiple-input input:first-child {
              margin-right: 0;
              margin-bottom: 10px; } }
      .popup .popup-container form .input-group.address-group,
      .popup .popup-container .form-groups .input-group.address-group {
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .popup .popup-container form .radio-group,
      .popup .popup-container .form-groups .radio-group {
        margin: 3px 0; }
        .popup .popup-container form .radio-group input,
        .popup .popup-container .form-groups .radio-group input {
          width: auto;
          margin: 0 10px 0 5px; }
        .popup .popup-container form .radio-group label,
        .popup .popup-container .form-groups .radio-group label {
          min-width: auto;
          font-family: "GalanoGrotesque";
          font-size: 14px; }
      .popup .popup-container form input,
      .popup .popup-container form textarea,
      .popup .popup-container form select,
      .popup .popup-container .form-groups input,
      .popup .popup-container .form-groups textarea,
      .popup .popup-container .form-groups select {
        width: 100%;
        margin: 3px 0;
        border: none;
        outline: none;
        color: #434343;
        border: 1px solid #ccc;
        padding: 5px 10px; }
      .popup .popup-container form select,
      .popup .popup-container .form-groups select {
        height: 30px;
        border-radius: 0;
        appearance: none;
        -webkit-appearance: none;
        background-image: url("../images/misc/select-arrow.png");
        background-color: #fff;
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 93% center; }
      .popup .popup-container form textarea,
      .popup .popup-container .form-groups textarea {
        padding-bottom: 50px;
        resize: none; }
      .popup .popup-container form button,
      .popup .popup-container .form-groups button {
        display: inline-block;
        background: #f48324;
        color: #fff;
        border: none;
        outline: none;
        text-transform: uppercase;
        padding: 3px 15px 7px;
        width: 200px;
        margin: 5px 0;
        transition: all .4s ease-in-out;
        -webkit-transform: scale(1);
                transform: scale(1); }
        .popup .popup-container form button:hover,
        .popup .popup-container .form-groups button:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
    .popup .popup-container .existing-user-block,
    .popup .popup-container .new-user-block {
      display: none; }
    .popup .popup-container .left-side {
      padding: 40px;
      width: 50%;
      border-radius: 5px 0 0 5px; }
    .popup .popup-container .right-side {
      background: #ebebeb;
      padding: 50px 80px 50px 40px;
      width: 50%;
      border-radius: 0 5px 5px 0; }
      .popup .popup-container .right-side h5,
      .popup .popup-container .right-side a {
        font-family: "GalanoGrotesque-medium";
        font-size: 18px;
        font-weight: 500;
        color: #111111;
        margin: 0 0 10px 0; }
      .popup .popup-container .right-side h5 {
        text-transform: uppercase; }
    .popup .popup-container .popup-close {
      position: absolute;
      top: -5px;
      right: -5px;
      background: #fff;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      cursor: pointer;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4); }
      .popup .popup-container .popup-close .fa {
        font-size: 12px; }
  .popup.signup-popup .popup-container {
    max-width: 500px;
    width: 100%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .popup.signup-popup .popup-container .left-side {
      width: 100%;
      padding-top: 0; }
    .popup.signup-popup .popup-container button {
      background: #f48324;
      margin-left: 100px;
      transition: all .4s ease-in-out;
      -webkit-transform: scale(1);
              transform: scale(1); }
      .popup.signup-popup .popup-container button:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .popup.seller-popup {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px 0; }
    .popup.seller-popup .popup-container {
      max-width: 900px; }
      .popup.seller-popup .popup-container .left-side {
        width: 65%; }
      .popup.seller-popup .popup-container button {
        margin: 10px 0; }
      .popup.seller-popup .popup-container .popup-title-wrap {
        padding: 0;
        margin-bottom: 20px; }
        .popup.seller-popup .popup-container .popup-title-wrap h3 {
          margin: 0; }
      .popup.seller-popup .popup-container .form-groups input,
      .popup.seller-popup .popup-container .form-groups select,
      .popup.seller-popup .popup-container .form-groups textarea {
        margin-bottom: 15px;
        font-size: 16px;
        color: #7f7575;
        font-family: "GalanoGrotesque-medium";
        font-weight: 400; }
        .popup.seller-popup .popup-container .form-groups input::-webkit-input-placeholder,
        .popup.seller-popup .popup-container .form-groups select::-webkit-input-placeholder,
        .popup.seller-popup .popup-container .form-groups textarea::-webkit-input-placeholder {
          color: #7f7575; }
        .popup.seller-popup .popup-container .form-groups input::-moz-placeholder,
        .popup.seller-popup .popup-container .form-groups select::-moz-placeholder,
        .popup.seller-popup .popup-container .form-groups textarea::-moz-placeholder {
          color: #7f7575; }
        .popup.seller-popup .popup-container .form-groups input:-ms-input-placeholder,
        .popup.seller-popup .popup-container .form-groups select:-ms-input-placeholder,
        .popup.seller-popup .popup-container .form-groups textarea:-ms-input-placeholder {
          color: #7f7575; }
        .popup.seller-popup .popup-container .form-groups input::placeholder,
        .popup.seller-popup .popup-container .form-groups select::placeholder,
        .popup.seller-popup .popup-container .form-groups textarea::placeholder {
          color: #7f7575; }
      .popup.seller-popup .popup-container .form-groups input,
      .popup.seller-popup .popup-container .form-groups select {
        padding: 4px 10px 10px; }
      .popup.seller-popup .popup-container .form-groups select {
        height: 40px; }
      .popup.seller-popup .popup-container .form-groups input[type="radio"] {
        margin-bottom: 0; }
      .popup.seller-popup .popup-container .form-groups button {
        font-family: "GalanoGrotesque-medium";
        font-weight: 400;
        font-size: 16px;
        padding: 4px 10px 8px;
        width: 100px;
        color: #fff;
        transition: all .4s ease-in-out;
        -webkit-transform: scale(1);
                transform: scale(1); }
        .popup.seller-popup .popup-container .form-groups button:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      .popup.seller-popup .popup-container .form-groups .radio-group label {
        font-family: "GalanoGrotesque-medium";
        font-weight: 400;
        font-size: 16px; }
      .popup.seller-popup .popup-container .one-column input,
      .popup.seller-popup .popup-container .one-column select {
        width: 48%;
        margin-bottom: 15px; }
      .popup.seller-popup .popup-container .two-column {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .popup.seller-popup .popup-container .two-column input,
        .popup.seller-popup .popup-container .two-column select {
          width: 48%;
          margin-bottom: 15px; }
          .popup.seller-popup .popup-container .two-column input:first-child,
          .popup.seller-popup .popup-container .two-column select:first-child {
            margin-right: 15px; }
      .popup.seller-popup .popup-container .fileupload-group {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        padding: 15px 0; }
        .popup.seller-popup .popup-container .fileupload-group .upload-group {
          margin-right: 20px; }
        .popup.seller-popup .popup-container .fileupload-group .info-group {
          padding-top: 10px; }
          .popup.seller-popup .popup-container .fileupload-group .info-group p:first-child {
            font-family: "GalanoGrotesque-medium";
            font-size: 15px;
            font-weight: 400;
            font-style: italic;
            color: #988f8f;
            margin-bottom: 10px; }
        .popup.seller-popup .popup-container .fileupload-group p {
          font-family: "GalanoGrotesque-medium";
          font-size: 12px;
          font-weight: 400;
          color: #000;
          margin-bottom: 5px; }
      .popup.seller-popup .popup-container .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
        .popup.seller-popup .popup-container .inputfile + label {
          font-family: "GalanoGrotesque-medium";
          font-size: 15px;
          font-weight: 400;
          display: inline-block;
          background: #49c1ec;
          color: #fff;
          border: none;
          outline: none;
          text-transform: uppercase;
          padding: 3px 0px 7px;
          width: 120px;
          margin: 5px 0;
          text-align: center;
          cursor: pointer; }
      .popup.seller-popup .popup-container .input-file-name {
        display: inline-block;
        margin-left: 10px; }
      .popup.seller-popup .popup-container .right-side {
        padding: 40px; }
  .popup.register-popup {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px 0; }
    .popup.register-popup .popup-container form label {
      font-size: 15px; }
    .popup.register-popup .popup-container form button {
      width: 150px;
      transition: all .4s ease-in-out;
      -webkit-transform: scale(1);
              transform: scale(1); }
      .popup.register-popup .popup-container form button:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .popup.lease-popup .popup-container form button {
    margin-left: 0; }
  .popup.lease-popup .popup-container form .multiple-radio {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .popup.lease-popup .popup-container form .multiple-radio .radio-group:first-child {
      margin-right: 20px; }
  @media (max-width: 992px) {
    .popup.seller-popup, .popup.register-popup {
      padding-top: 130px; }
    .popup .popup-container {
      margin: auto 10px; } }
  @media (max-width: 768px) {
    .popup .popup-container {
      max-width: 680px; }
      .popup .popup-container .right-side h5,
      .popup .popup-container .right-side a {
        font-size: 15px; }
    .popup.seller-popup .popup-container .one-column input,
    .popup.seller-popup .popup-container .one-column select {
      width: 100%;
      margin-bottom: 10px; }
    .popup.seller-popup .popup-container .two-column {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .popup.seller-popup .popup-container .two-column input,
      .popup.seller-popup .popup-container .two-column select {
        width: 100%; }
        .popup.seller-popup .popup-container .two-column input:first-child,
        .popup.seller-popup .popup-container .two-column select:first-child {
          margin-right: 0; } }
  @media (max-width: 720px) {
    .popup .popup-container {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 300px; }
      .popup .popup-container .left-side,
      .popup .popup-container .right-side {
        width: 100%; }
    .popup.seller-popup .popup-container .left-side {
      width: 100%; } }
  @media (max-width: 500px) {
    .popup .popup-container form .input-group {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .popup .popup-container form .input-group label {
        width: auto; }
    .popup.signup-popup .popup-container {
      margin: auto 15px; }
      .popup.signup-popup .popup-container .left-side button {
        margin-left: 0; }
    .popup.seller-popup .popup-container .fileupload-group {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.mac-os header nav ul.top-row li:first-child a::after {
  margin-bottom: auto; }

.mac-os section.main-search .search-container form .group input {
  padding: 5px 10px 5px 15px; }

.mac-os section.main-search .search-container form .group button {
  padding: 5px 10px; }

.mac-os section.main-search .search-container form .group select {
  padding: 5px 10px; }

.mac-os section.main-search .search-container form .group.sell-group button {
  padding: 5px 10px; }

.mac-os section.main-search.rent-search .search-container form .group.rent-group .cta {
  padding: 4px 20px; }

.mac-os section.newsletter .container .inner-container .right-side .cta {
  padding: 8px 15px; }

.mac-os section.main-services .main-services-container .block .cta {
  padding: 5px 15px; }

.mac-os .cta {
  padding: 5px 15px; }
  .mac-os .cta.btn-green {
    padding: 5px 15px !important; }
  .mac-os .cta.enquire {
    padding: 4px 15px !important; }

.mac-os .popup .popup-container form button,
.mac-os .popup .popup-container .form-groups button {
  padding: 5px 15px; }

.mac-os .popup .popup-container form .radio-group label,
.mac-os .popup .popup-container .form-groups .radio-group label {
  margin-bottom: 0; }

.mac-os .popup.seller-popup .popup-container .inputfile + label {
  padding: 7px 0; }

.mac-os .popup.seller-popup .popup-container .form-groups button {
  padding: 10px; }

.mac-os .popup.seller-popup .popup-container .form-groups input,
.mac-os .popup.seller-popup .popup-container .form-groups select {
  padding: 8px 10px; }

.mac-os section.search-results .results-container .column.filter-column form select {
  padding: 5px 10px; }

.mac-os section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a {
  padding: 5px 20px !important; }

.mac-os section.search-results .results-container .column.results-column .pagination-wrap ul.pagination li a {
  line-height: 20px;
  padding-bottom: 6px; }

.mac-os section.services-form form .group button[type="submit"] {
  padding: 5px 15px; }

.mac-os section.contact .contact-container form button {
  padding: 6px 15px; }

.mac-os .import-lease .results-container .column.results-column .more-details .tab-content #details .detail form input {
  margin-top: 0; }

.mac-os .import-lease .add-to-compare span.text {
  margin-bottom: 0; }

@media (max-width: 480px) {
  section.main-search .search-container form .group input {
    padding: 5px 10px 5px 15px; }
  section.main-search .search-container form .group button {
    padding: 5px 10px; }
  section.main-search .search-container form .group select {
    padding: 5px 10px; }
  .cta {
    padding: 5px 15px; }
    .cta.btn-green {
      padding: 5px 15px; }
    .cta.enquire {
      padding: 4px 15px; }
  .popup .popup-container .left-side form button,
  .popup .popup-container .left-side .form-groups button {
    padding: 5px 15px; }
  section.search-results .results-container .column.filter-column form select {
    padding: 5px 10px; }
  section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a {
    padding: 5px 20px; }
  section.search-results .results-container .column.results-column .pagination-wrap ul.pagination li a {
    line-height: 20px;
    padding-bottom: 6px; } }

header nav {
  padding: 20px 0; }
  header nav .navigation-inner {
    max-width: 992px;
    margin: auto; }
  header nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header nav ul li a {
      font-family: "GalanoGrotesque-medium";
      font-size: 15px;
      transition: all .3s ease-in-out; }
      header nav ul li a.active, header nav ul li a:hover {
        color: #f48324; }
    header nav ul li.brand-logo-li {
      margin-bottom: -15px; }
    header nav ul.top-row {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header nav ul.top-row li:first-child a {
        position: relative;
      }
      header nav ul.top-row li:first-child a::after {
        content: "";
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        width: 0;
        height: 55%;
        background: #d8d5d5;
        margin-top: auto;
        margin-bottom: 3px;
      }
      header nav ul.top-row li:first-child a.active, header nav ul.top-row li:first-child a:hover {
        color: #f48324; }
      header nav ul.top-row li:last-of-type a {
        margin-right: 0; }
      header nav ul.top-row li a {
        text-transform: uppercase;
        color: #847d7d;
        margin: 0 5px;
        font-size: 14px; }
        header nav ul.top-row li a.sign-in {
          color: #f48324; }
    header nav ul.bottom-row {
      margin-bottom: 20px; }
  header nav .brand-logo img {
    max-width: 150px; }
  header nav .mobile-nav {
    display: none; }
    header nav .mobile-nav .mobile-toggle-button {
      width: 25px;
      height: 20px;
      cursor: pointer; }
      header nav .mobile-nav .mobile-toggle-button span,
      header nav .mobile-nav .mobile-toggle-button span::before,
      header nav .mobile-nav .mobile-toggle-button span::after {
        display: inline-block;
        height: 2px;
        border-radius: 2px;
        background: #f48324;
        -webkit-transform-origin: center;
                transform-origin: center;
        transition: all .3s ease-in-out; }
      header nav .mobile-nav .mobile-toggle-button span {
        position: relative;
        width: 100%; }
      header nav .mobile-nav .mobile-toggle-button span::before,
      header nav .mobile-nav .mobile-toggle-button span::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0; }
      header nav .mobile-nav .mobile-toggle-button span::before {
        top: -8px;
        width: 75%; }
      header nav .mobile-nav .mobile-toggle-button span::after {
        bottom: -8px;
        width: 45%; }
      header nav .mobile-nav .mobile-toggle-button:hover span,
      header nav .mobile-nav .mobile-toggle-button:hover span::before,
      header nav .mobile-nav .mobile-toggle-button:hover span::after {
        width: 100%; }
      header nav .mobile-nav .mobile-toggle-button.is-open span::before {
        top: 0;
        width: 100%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      header nav .mobile-nav .mobile-toggle-button.is-open span::after {
        bottom: 0;
        width: 100%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      header nav .mobile-nav .mobile-toggle-button.is-open span {
        background: transparent; }

@media (max-width: 992px) {
  header {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 50; }
    header nav {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 0; }
      header nav .navigation {
        display: none;
        padding-bottom: 20px; }
      header nav .navigation-inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
      header nav ul {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        header nav ul li {
          margin-bottom: 10px;
          width: 100%; }
        header nav ul.top-row {
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1; }
          header nav ul.top-row li a {
            margin-right: 0;
            margin-left: 0;
            color: #000;
            text-transform: none;
            font-size: 15px; }
          header nav ul.top-row li:first-child a {
            padding-right: 0; }
            header nav ul.top-row li:first-child a::after {
              display: none; }
        header nav ul.bottom-row {
          margin-bottom: 0; }
          header nav ul.bottom-row li.brand-logo-li {
            display: none; }
      header nav .brand-logo img {
        max-width: 100px; }
      header nav .mobile-nav {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px; } }

footer {
  position: relative;
  z-index: 9;
  background: #fff; }
  footer .container {
    position: relative;
    padding: 80px 0; }
    footer .container::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: #f1f1f1;
      display: none; }
  footer .inner-container {
    border-top: 2px solid #f48324;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px; }
    footer .inner-container a {
      color: #191919;
      font-family: "GalanoGrotesque-medium";
      font-size: 12px; }
    footer .inner-container ul li:first-child {
      margin-bottom: 10px; }
      footer .inner-container ul li:first-child a {
        text-transform: uppercase;
        font-size: 14px;
        pointer-events: none; }
    footer .inner-container .left-side {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      footer .inner-container .left-side ul {
        margin-right: 30px; }
    footer .inner-container .right-side ul {
      text-align: right; }
      footer .inner-container .right-side ul li a {
        color: #adadad; }
        footer .inner-container .right-side ul li a.copyright-logo {
          margin-top: 15px; }
        footer .inner-container .right-side ul li a img {
          max-width: 60px; }
      footer .inner-container .right-side ul li:first-child a {
        color: transparent; }
      footer .inner-container .right-side ul li:nth-child(2) a {
        color: #191919; }
  @media (max-width: 768px) {
    footer .inner-container {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .inner-container .left-side {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex: none;
            -ms-flex: none;
                flex: none; }
        footer .inner-container .left-side ul {
          margin: 0 0 30px 0;
          text-align: center; }
          footer .inner-container .left-side ul:last-of-type {
            margin-bottom: 0; }
      footer .inner-container .right-side ul {
        text-align: center; } }

section.main-search .search-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  section.main-search .search-container .banner-slider .item {
    height: 600px;
    background-size: cover;
    background-position: center; }
  section.main-search .search-container form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 768px;
    margin: 60px auto auto;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8); }
    section.main-search .search-container form hr {
      width: 100%;
      height: initial;
      margin: 20px 0 30px; }
    section.main-search .search-container form p {
      color: #fff;
      margin: 0 0 20px 0;
      font-size: 18px; }
      section.main-search .search-container form p.sell-head {
        font-size: 16px;
        margin: 0 20px 5px 0; }
    section.main-search .search-container form .group {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 100%;
      margin-bottom: 20px; }
      section.main-search .search-container form .group.sell-group button {
        border-radius: 2px;
        padding: 5px 6px 8px;
        -webkit-transform: scale(1);
                transform: scale(1);
        transition: all .4s ease-in-out; }
        section.main-search .search-container form .group.sell-group button:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      section.main-search .search-container form .group input[type="text"] {
        width: 100%; }
      section.main-search .search-container form .group input {
        border: none;
        outline: none;
        padding: 5px 10px 8px 15px; }
      section.main-search .search-container form .group button {
        background-color: #f48324;
        color: #fff !important;
        border: none;
        outline: none;
        padding: 5px 10px 8px;
        width: 100px;
        -webkit-transform: scale(1);
                transform: scale(1);
        transition: all .4s ease-in-out; }
        section.main-search .search-container form .group button:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      section.main-search .search-container form .group input,
      section.main-search .search-container form .group select,
      section.main-search .search-container form .group button {
        color: #231f20;
        border: none;
        outline: none;
        box-sizing: border-box; }
      section.main-search .search-container form .group select {
        width: 100px;
        padding: 5px 10px 8px 10px;
        appearance: none;
        -webkit-appearance: none;
        margin-right: 20px;
        border-radius: 0;
        background-image: url("../images/misc/select-arrow.png");
        background-color: #fff;
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 93% center; }
        section.main-search .search-container form .group select.make {
          width: 200px; }
        section.main-search .search-container form .group select.model {
          width: 150px; }

@media (max-width: 768px) {
  section.main-search .search-container form {
    max-width: 650px;
    margin: auto; }
    section.main-search .search-container form p.sell-head {
      margin: 0 0 20px 0; }
    section.main-search .search-container form .group {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.main-search .search-container form .group input,
      section.main-search .search-container form .group select,
      section.main-search .search-container form .group button {
        width: 100% !important;
        margin: 0 0 10px 0; } }

@media (max-width: 650px) {
  section.main-search .search-container form {
    max-width: 100%;
    width: initial;
    left: 15px;
    right: 15px;
    padding: 20px; } }

section.main-services {
  position: relative;
  z-index: 2;
  margin-top: -100px; }
  section.main-services .main-services-container {
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    section.main-services .main-services-container::before, section.main-services .main-services-container::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: 100px;
      z-index: -1; }
    section.main-services .main-services-container::before {
      left: -10px;
      background: linear-gradient(to right, transparent, rgba(8, 8, 8, 0.2));
      -webkit-transform: rotate(-5deg) translateX(4px);
              transform: rotate(-5deg) translateX(4px); }
    section.main-services .main-services-container::after {
      right: -10px;
      background: linear-gradient(to left, transparent, rgba(8, 8, 8, 0.2));
      -webkit-transform: rotate(5deg) translateX(-4px);
              transform: rotate(5deg) translateX(-4px); }
    section.main-services .main-services-container .block {
      width: 20%;
      padding: 20px 10px;
      position: relative; }
      section.main-services .main-services-container .block::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 60%;
        background: #e3e6ec;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
      section.main-services .main-services-container .block:last-of-type::after {
        display: none; }
      section.main-services .main-services-container .block .block-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        width: 100px;
        margin: auto; }
      section.main-services .main-services-container .block h4 {
        font-family: "GalanoGrotesque-medium";
        font-size: 17px;
        font-weight: 500;
        color: #f48324;
        margin-bottom: 20px; }
      section.main-services .main-services-container .block p {
        font-family: "GalanoGrotesque-medium";
        font-weight: 300;
        margin-bottom: 10px; }
      section.main-services .main-services-container .block .cta {
        font-family: "GalanoGrotesque-medium";
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 2px 15px 7px; }
        section.main-services .main-services-container .block .cta .fa {
          padding-left: 5px;
          transition: all .3s ease-in-out; }
        section.main-services .main-services-container .block .cta:hover .fa {
          padding-left: 10px; }
  @media (max-width: 768px) {
    section.main-services {
      margin-top: 0;
      padding-top: 50px; }
      section.main-services .main-services-container {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.main-services .main-services-container::before, section.main-services .main-services-container::after {
          display: none; }
        section.main-services .main-services-container .block {
          width: 100%;
          text-align: center;
          margin-bottom: 20px; }
          section.main-services .main-services-container .block::after {
            display: none; }
          section.main-services .main-services-container .block p {
            margin-bottom: 20px; } }

section.about-blurb {
  padding: 80px 0 70px 0; }
  section.about-blurb h4 {
    font-family: "caslon_3roman";
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #0f0f0f; }
  section.about-blurb p {
    color: #0f0f0f;
    margin-bottom: 20px; }
  section.about-blurb .cta {
    background: #7ec153; }

section.featured-product {
  padding-bottom: 80px; }
  section.featured-product .featured-container {
    background: #f1f1f1;
    border-top: 2px solid #f48324;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    section.featured-product .featured-container .product {
      width: 145px !important;
      padding: 10px;
      box-shadow: 0px 0px 0px 0px transparent;
      transition: all .4s ease-in-out; }
      section.featured-product .featured-container .product p {
        margin-bottom: 0;
        font-family: "GalanoGrotesque-medium";
        font-size: 12px;
        color: #0f0f0f; }
      section.featured-product .featured-container .product .product-image {
        height: 130px;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        position: relative; }
        section.featured-product .featured-container .product .product-image::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: inline-block;
          background-image: url("../images/product/watermark.png");
          background-size: 40px;
          background-repeat: no-repeat;
          background-position: left bottom; }
      section.featured-product .featured-container .product .info-wrap {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 2px; }
        section.featured-product .featured-container .product .info-wrap .icon {
          width: 20px;
          margin-right: 10px; }
        section.featured-product .featured-container .product .info-wrap p {
          margin-top: 2px; }
        section.featured-product .featured-container .product .info-wrap.price-wrap {
          margin-top: 20px; }
          section.featured-product .featured-container .product .info-wrap.price-wrap p {
            color: #f48324; }
      section.featured-product .featured-container .product.brand-new {
        position: relative; }
        section.featured-product .featured-container .product.brand-new::after {
          content: "Brand New";
          font-family: "Helvetica";
          font-size: 8px;
          font-weight: 800;
          color: #fff;
          line-height: 1;
          text-transform: uppercase;
          background: #7ec153;
          text-align: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          top: -5px;
          right: -5px;
          z-index: 2;
          box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2); }
      section.featured-product .featured-container .product:hover {
        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    section.featured-product .featured-container {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      section.featured-product .featured-container .product {
        width: 50%; }
        section.featured-product .featured-container .product .product-image {
          height: 200px; } }
  @media (max-width: 480px) {
    section.featured-product .featured-container {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.featured-product .featured-container .product {
        width: 100%; } }

section.newsletter {
  background: #cacaca;
  position: relative;
  z-index: 9; }
  section.newsletter.operating-lease-newsletter {
    margin-top: 50px; }
  section.newsletter .container .inner-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0; }
    section.newsletter .container .inner-container .left-side {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      section.newsletter .container .inner-container .left-side .icon {
        margin-right: 20px; }
        section.newsletter .container .inner-container .left-side .icon img {
          max-width: 40px; }
      section.newsletter .container .inner-container .left-side h4,
      section.newsletter .container .inner-container .left-side p {
        margin: 0;
        color: #fff;
        line-height: 1; }
      section.newsletter .container .inner-container .left-side h4 {
        font-size: 18px;
        margin-bottom: 10px; }
      section.newsletter .container .inner-container .left-side p {
        font-size: 12px; }
    section.newsletter .container .inner-container .right-side .cta {
      background: #f48324;
      border: none;
      width: 100px;
      text-align: center;
      padding: 5px 15px 9px;
      -webkit-transform: scale(1);
              transform: scale(1);
      transition: all .4s ease-in-out; }
      section.newsletter .container .inner-container .right-side .cta:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  @media (max-width: 680px) {
    section.newsletter .container .inner-container {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.newsletter .container .inner-container .left-side {
        margin-bottom: 20px; }
      section.newsletter .container .inner-container .right-side .sign-up {
        padding: 5px 25px 9px; } }

section.search-results .results-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  section.search-results .results-container .column {
    margin-right: 20px; }
    section.search-results .results-container .column.test-column {
      padding-top: 50px; }
    section.search-results .results-container .column.filter-column {
      border-top: 3px solid #49c1ec;
      min-width: 200px;
      max-width: 200px;
      padding: 30px 10px 10px; }
      section.search-results .results-container .column.filter-column .refine-by {
        color: #696969;
        display: block;
        text-align: right;
        pointer-events: none;
        margin-bottom: 20px; }
      section.search-results .results-container .column.filter-column form select {
        width: 100%;
        padding: 5px 10px 8px 10px;
        appearance: none;
        -webkit-appearance: none;
        margin-right: 20px;
        color: #434343;
        border-radius: 0;
        background-image: url("../images/misc/select-arrow.png");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 93% center;
        text-transform: uppercase; }
        section.search-results .results-container .column.filter-column form select option:first-child {
          font-family: "GalanoGrotesque-medium";
          font-weight: 500; }
      section.search-results .results-container .column.filter-column form select,
      section.search-results .results-container .column.filter-column form input,
      section.search-results .results-container .column.filter-column form button {
        margin-bottom: 10px; }
    section.search-results .results-container .column .bars {
      width: 100%;
      color: #434343; }
      section.search-results .results-container .column .bars h4 {
        font-family: "GalanoGrotesque-medium";
        font-size: 14px;
        font-weight: 500; }
      section.search-results .results-container .column .bars .inner-group {
        position: relative;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-bottom: 60px; }
        section.search-results .results-container .column .bars .inner-group:last-of-type {
          margin-right: 0; }
        section.search-results .results-container .column .bars .inner-group .bar {
          margin: 20px 0; }
        section.search-results .results-container .column .bars .inner-group .min-value,
        section.search-results .results-container .column .bars .inner-group .selected-value,
        section.search-results .results-container .column .bars .inner-group .max-value {
          position: absolute;
          top: 120%;
          text-transform: capitalize; }
        section.search-results .results-container .column .bars .inner-group .min-value {
          left: 0; }
        section.search-results .results-container .column .bars .inner-group .selected-value {
          left: 0;
          right: 0;
          text-align: center; }
        section.search-results .results-container .column .bars .inner-group .max-value {
          right: 0; }
    section.search-results .results-container .column.results-column {
      border-top: 3px solid #f58e37;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-top: 25px; }
      section.search-results .results-container .column.results-column .results-count {
        margin-top: 15px;
        color: #191919;
        font-family: "GalanoGrotesque-medium";
        margin-bottom: 80px; }
      section.search-results .results-container .column.results-column .results-wrap .result {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb; }
        section.search-results .results-container .column.results-column .results-wrap .result:last-of-type {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none; }
        section.search-results .results-container .column.results-column .results-wrap .result figure {
          margin-right: 20px; }
          section.search-results .results-container .column.results-column .results-wrap .result figure .watermakerd {
            position: relative; }
            section.search-results .results-container .column.results-column .results-wrap .result figure .watermakerd::before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: inline-block;
              background-image: url("../images/product/watermark.png");
              background-size: 70px;
              background-repeat: no-repeat;
              background-position: left bottom; }
          section.search-results .results-container .column.results-column .results-wrap .result figure img {
            max-width: 220px;
            width: 100%; }
      section.search-results .results-container .column.results-column .results-wrap .right-side {
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .product-name {
          font-size: 18px;
          margin-bottom: 0; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .price {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .price img {
            margin-right: 10px; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .price p {
            font-size: 15px;
            font-family: "GalanoGrotesque-medium";
            color: #f48324;
            margin-bottom: 0; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .main-features {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-top: 20px; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .main-features .feature {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-start;
                -ms-flex-align: start;
                    align-items: flex-start;
            margin-right: 15px; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .main-features .feature .icon {
              margin-right: 5px; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .main-features .feature .info p {
              margin-bottom: 0;
              font-family: "GalanoGrotesque-medium";
              font-size: 12px; }
              section.search-results .results-container .column.results-column .results-wrap .right-side .main-features .feature .info p:first-child {
                color: #737373;
                font-size: 10px;
                margin-top: 5px; }
        section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group {
          margin-top: 20px; }
          section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a {
            font-family: "GalanoGrotesque-medium";
            font-size: 13px;
            padding: 3px 20px 7px; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a:hover {
              border: 1px solid #7ec153;
              color: #7ec153;
              background: transparent; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.btn-green {
              border-color: #7ec153; }
            section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group a.enquire {
              margin-left: 10px; }
      section.search-results .results-container .column.results-column .pagination-wrap {
        text-align: center; }
        section.search-results .results-container .column.results-column .pagination-wrap ul.pagination {
          margin-top: 80px;
          margin-bottom: 0; }
          section.search-results .results-container .column.results-column .pagination-wrap ul.pagination li a {
            line-height: 1;
            padding-bottom: 10px;
            border-radius: 0;
            color: #f48324;
            border-color: rgba(244, 131, 36, 0.2); }
            section.search-results .results-container .column.results-column .pagination-wrap ul.pagination li a:hover {
              background: rgba(244, 131, 36, 0.5);
              color: #fff; }
          section.search-results .results-container .column.results-column .pagination-wrap ul.pagination li.active a {
            background: rgba(244, 131, 36, 0.5);
            color: #fff; }
    section.search-results .results-container .column.ads-column {
      border-top: 3px solid #7ec153;
      min-width: 250px;
      margin-right: 0;
      padding-top: 50px; }
.column.ads-column {
  max-width: 300px;
}
      section.search-results .results-container .column.ads-column .ads-block {
        display: inline-block;
        margin-bottom: 20px; }
        section.search-results .results-container .column.ads-column .ads-block img {
          width: 100%; }

@media (max-width: 1200px) {
  section.search-results .results-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    section.search-results .results-container .column.ads-column {
      margin-top: 40px;
      min-width: initial;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; }
      section.search-results .results-container .column.ads-column .ads-block {
        max-width: 200px;
        margin: 0 20px 20px 0; } }

@media (max-width: 992px) {
  section.search-results .results-container .column {
    margin-right: 0; }
    section.search-results .results-container .column.filter-column {
      position: fixed;
      left: -250px;
      z-index: 10;
      background: #fff;
      border: 2px solid #49c1ec;
      transition: all .3s ease-in-out;
      min-width: 250px;
      padding: 20px 10px; }
      section.search-results .results-container .column.filter-column .refine-by {
        pointer-events: auto;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        position: absolute;
        top: 28px;
        right: -66px;
        background: #fff;
        border-radius: 5px 5px 0 0;
        padding: 5px 15px 7px;
        border: 2px solid #49c1ec;
        background: #49c1ec;
        color: #fff;
        z-index: 6;
        border-bottom: none; }
      section.search-results .results-container .column.filter-column.is-open {
        left: 0px; } }

@media (max-width: 750px) {
  section.search-results .results-container .column.results-column .results-wrap .result {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section.search-results .results-container .column.results-column .results-wrap .result figure {
      margin: 0 0 20px 0; }
      section.search-results .results-container .column.results-column .results-wrap .result figure img {
        max-width: 300px; }
    section.search-results .results-container .column.results-column .results-wrap .result .main-features .feature {
      margin-right: 20px; }
      section.search-results .results-container .column.results-column .results-wrap .result .main-features .feature .info p:first-child {
        font-size: 14px; } }

@media (max-width: 550px) {
  section.search-results .results-container .column.results-column .results-wrap .main-features {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section.search-results .results-container .column.results-column .results-wrap .main-features .feature {
      margin: 0 0 10px 0; }
  section.search-results .results-container .column.results-column .results-wrap .right-side .cta-group .cta {
    width: 45%;
    text-align: center;
    padding: 5px 15px 9px !important; } }

section.view-vehicle .results-container .column.test-column {
  min-width: 250px;
  max-width: 250px; }
  section.view-vehicle .results-container .column.test-column .test-drive {
    margin: 0 10px;
    background: #ebebeb; }
    section.view-vehicle .results-container .column.test-column .test-drive h4 {
      background: #acacac;
      color: #fff;
      padding: 10px 20px 15px;
      font-size: 18px;
      margin: 0; }
    section.view-vehicle .results-container .column.test-column .test-drive .test-drive-info {
      padding: 20px; }
      section.view-vehicle .results-container .column.test-column .test-drive .test-drive-info p {
        font-size: 13px; }
        section.view-vehicle .results-container .column.test-column .test-drive .test-drive-info p.note {
          margin-bottom: 0; }
      section.view-vehicle .results-container .column.test-column .test-drive .test-drive-info .reservation-block {
        margin-bottom: 20px; }
        section.view-vehicle .results-container .column.test-column .test-drive .test-drive-info .reservation-block a {
          font-family: "GalanoGrotesque-medium";
          font-size: 18px;
          color: #111111; }

section.view-vehicle .results-container .column.results-column .single-vehicle {
  margin: 40px 0 0 0; }
  section.view-vehicle .results-container .column.results-column .single-vehicle p {
    margin-bottom: 0; }
  section.view-vehicle .results-container .column.results-column .single-vehicle .product-name {
    font-size: 18px; }
  section.view-vehicle .results-container .column.results-column .single-vehicle .ref {
    font-size: 12px;
    color: #acacac; }
  section.view-vehicle .results-container .column.results-column .single-vehicle .details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group {
      margin-right: 30px; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider {
        min-width: 400px;
        max-width: 420px;
        margin-bottom: 5px; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider .item {
          background-size: cover;
          background-position: center;
          height: 300px;
          position: relative; }
          section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider .item::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            background-image: url("../images/product/watermark.png");
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: left bottom; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .owl-thumbs button {
        width: 90px;
        height: 60px;
        background-size: cover;
        background-position: center;
        border: none;
        outline: none; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .owl-thumbs button.active {
          border: 1px solid #f48324; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features {
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 15px; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features .feature {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 15px; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features .feature .icon {
          margin-right: 10px; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features .feature .info p {
          font-family: "GalanoGrotesque-medium"; }
          section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features .feature .info p:first-child {
            font-size: 12px; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .price {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .price img {
        margin-right: 10px;
        max-width: 15px; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .price p {
        font-size: 15px;
        font-family: "GalanoGrotesque-medium";
        color: #f48324; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .note {
      font-family: "GalanoGrotesque-italic";
      font-size: 12px; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .cta-group .enquire {
      display: block;
      margin-top: 20px;
      color: #fff;
      background: #f48324;
      width: 100px;
      text-align: center; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .cta-group .enquire:hover {
        background: #f48324; }

section.view-vehicle .results-container .column.results-column .description-wrap {
  padding: 80px 0 50px;
  border-bottom: 1px solid #ebebeb; }
  section.view-vehicle .results-container .column.results-column .description-wrap h5 {
    margin: 0 0 20px 0;
    font-family: "GalanoGrotesque-medium";
    font-weight: 500;
    font-size: 20px; }
  section.view-vehicle .results-container .column.results-column .description-wrap p {
    margin-bottom: 0;
    color: #242424; }

section.view-vehicle .results-container .column.results-column .more-details {
  padding: 50px 0; }
  section.view-vehicle .results-container .column.results-column .more-details ul.nav-tabs li a {
    border-radius: 0; }
    section.view-vehicle .results-container .column.results-column .more-details ul.nav-tabs li a:hover, section.view-vehicle .results-container .column.results-column .more-details ul.nav-tabs li a:focus {
      background: transparent; }
  section.view-vehicle .results-container .column.results-column .more-details ul.nav-tabs li.active a {
    border-top: 3px solid #f48324;
    color: #f48324; }
  section.view-vehicle .results-container .column.results-column .more-details .tab-content {
    padding-top: 50px; }
    section.view-vehicle .results-container .column.results-column .more-details .tab-content #details .detail {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 3px 10px 5px; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #details .detail:nth-child(even) {
        background: #f8f8f8; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #details .detail .detail-name {
        font-family: "GalanoGrotesque-medium";
        min-width: 220px; }
    section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 5px; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature:nth-child(even) {
        background: #f8f8f8; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature li {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0 0 10px 0;
        width: 150px; }
        section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature li::before {
          content: "";
          display: inline-block;
          background-image: url("../images/misc/spec-bullet.png");
          background-size: 17px;
          background-repeat: no-repeat;
          background-position: center;
          width: 17px;
          height: 16px;
          margin-top: 3px; }
        section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature li a {
          margin-left: 10px;
          line-height: 1.2;
          font-size: 13px; }
    @media (max-width: 1200px) {
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }

@media (max-width: 992px) {
  section.view-vehicle .results-container .column {
    margin-right: 0;
    margin-bottom: 30px; }
    section.view-vehicle .results-container .column.results-column {
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    section.view-vehicle .results-container .column.test-column {
      min-width: initial;
      max-width: 100%;
      width: 100%; } }

@media (max-width: 620px) {
  section.view-vehicle .results-container .column.results-column {
    max-width: 600px;
    width: 100%; }
    section.view-vehicle .results-container .column.results-column .single-vehicle {
      max-width: 600px;
      width: 100%; }
      section.view-vehicle .results-container .column.results-column .single-vehicle .details {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 600px;
        width: 100%; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group {
          margin-right: 0;
          max-width: 600px;
          width: 100%; }
          section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider {
            min-width: initial;
            max-width: 600px;
            width: 100%; }
            section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider .owl-stage-outer {
              max-width: 600px;
              width: 100%; }
            section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider .owl-item.active {
              overflow: hidden; }
        section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features {
          margin-top: 30px;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
    section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature {
      padding: 0; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature li {
        width: 100%; }
      section.view-vehicle .results-container .column.results-column .more-details .tab-content #features .feature:nth-child(even) {
        background: transparent; } }

@media (max-width: 520px) {
  section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side {
    max-width: 600px;
    width: 100%; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .main-features {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    section.view-vehicle .results-container .column.results-column .single-vehicle .details .right-side .cta-group .enquire {
      width: 100%;
      text-align: center; } }

@media (max-width: 480px) {
  section.view-vehicle .results-container .column.results-column .single-vehicle .details .single-vehicle-group .single-vehicle-slider .item {
    height: 200px; } }
