body{
    padding:0;
    margin: 0;
    border-top: solid #ee190d;

}

.wh100{
    height: 100%;
    width: 100%;
}

.main{
    margin-left:50px ;
}


h3{
    font-size: 15px;
    margin: 50px 50px;
}

p{
    margin: 10px 10px;
}

.p1{
    margin: 30px 50px;
}

.p2{
    margin: 20px 20px;
}

.main1{
    align-items: center;
    text-align: center;
}
.logo{
    margin-top: 40px;

}

.mainbox {
    width: 100%;
    background: #ececec;
    padding: 10% 20% 10% 20%;
    margin-bottom: 90px;
    margin-top: 50px;
}

.hr{
    margin: 20px;
}

h4 {text-align:center; border-bottom: 1px solid #cdcdcd; line-height:0.1em; margin:80px 0 20px; }
h4 span { background:#ececec; padding:0 10px; }

.inputuser{
    width: 100%;
    margin-top: 30px;
    float: left;
    background: 0;
    /*box-shadow: 1px 1px 1px 1px #daddde;*/
    border: solid 2px #cdcdcd;
    height: 40px;
    background-color: #ececec;
    outline: none;
    font-style: italic;
    color: #a6a6a6;


}
.textarea{
    width: 100%;
    margin-top: 30px;
    float: left;
    background: 0;
    /*box-shadow: 1px 1px 1px 1px #daddde;*/
    border: solid 2px #cdcdcd;
    height: 90px;
    background-color: #ececec;
    outline: none;
    font-style: italic;
    color: #a6a6a6;


}

.btnn{
    margin-top: 50px;
    color: white;
    font-size: 24px;
    background-color: black;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;


}
.LogoImg{
    width: 100%;
    margin-top: -50px;
    margin-bottom: 20px;
}

.pag{
    text-align: right;
    font-style: italic;
    color: #a6a6a6;
}

.str{
    float: left;

}

.rate{
    margin-top: 40px;
    margin-bottom: 20px;
}